@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "KoHo", sans-serif;
}

.App {
  /* text-align: center; */
}
.Link {
  color: white;
}
.Link:hover {
  color: rgb(184, 184, 184);
  text-decoration: none;
}
.btn-block {
  background-color: black;
  color: white;
  padding: 5px 40px;
  border: none;
  border-radius: 2px;
}
.btn-block:hover {
  background-color: rgba(0, 0, 0, 0.966);
}
